<section>
  <mat-drawer-container class="example-container">
    <mat-drawer #drawer class="sidenav" [mode]="themeSelectorMode()" [opened]="navToggle()">
      <div class="logo-container"><img src="./assets/img/logos/crm-logo_2.png" /></div>
      <mat-nav-list>
        @for (item of menuItems(); track item.label) {
          <!-- [{ outlets: { primary: '', pages: 'item.route' } }] -->
          <!-- ['/home', 'dashboard'] -->
          <a
            mat-list-item
            [routerLink]="['/main', item.route]"
            routerLinkActive
            #rla="routerLinkActive"
            [activated]="rla.isActive"
          >
            <mat-icon matListItemIcon> {{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </a>
          @if (item.subItems) {
            @for (subItem of item.subItems; track subItem.label) {
              <a
                mat-list-item
                [routerLink]="[{ outlets: { primary: '', pages: subItem.route } }]"
                routerLinkActive
                #rla="routerLinkActive"
                [activated]="rla.isActive"
              >
                <mat-icon matListItemIcon> {{ subItem.icon }}</mat-icon>
                <span matListItemTitle>{{ subItem.label }}</span>
              </a>
            }
          }
        }
        <a mat-list-item (click)="onLogout()">
          <mat-icon matListItemIcon>logout</mat-icon>
          <span matListItemTitle>Logout</span>
        </a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <mat-toolbar class="mat-elevation-z3">
        <button
          mat-icon-button
          class="primary-icon-button"
          (click)="drawer.toggle()"
          aria-label="icon-button with menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{ title }}</span>
        <span class="spacer"></span>
        <button
          mat-icon-button
          (click)="themeService.toggleMode(themeService.themeModeIcon)"
          aria-label="icon-button with dark_mode or ligth_mode icon"
        >
          <mat-icon>{{ themeService.themeModeIcon }}</mat-icon>
        </button>
      </mat-toolbar>
      <div class="router-container">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</section>
