@use '@angular/material' as mat;

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

mat-card-actions {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.mat-card-title {
  color: red;
}

.login-card {
  max-width: 400px;
}
