<section>
  <mat-card appearance="outlined">
    <form [formGroup]="form">
      <h3>Login</h3>

      <mat-form-field class="form-control">
        <mat-label for="email">Email</mat-label>
        <input matInput type="email" placeholder="Enter your email" formControlName="email" />
      </mat-form-field>

      <mat-form-field class="formcontrol">
        <mat-label for="password">password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Enter your password"
          formControlName="password"
        />
      </mat-form-field>
    </form>

    <div class="form-action">
      <button mat-flat-button class="btn" routerlink="">Home</button>

      <button mat-flat-button class="btn" (click)="onLogin()">Login</button>
    </div>
  </mat-card>
</section>
