img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 10px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.074);
  &:hover {
    cursor: pointer;
  }
}

mat-icon {
  position: relative;
  bottom: 0;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.176);
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;

  &.hovered {
    visibility: visible;
    opacity: 1;
  }

  &:hover {
    visibility: visible;
    opacity: 1;
  }
}
