<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <div class="logo-container">Platz für Logo</div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar [color]="'primary'">
      <mat-toolbar-row>
        <mat-icon (click)="drawer.toggle()" style="padding-right: 10px;">menu</mat-icon>
        <span>Simple CRM</span>
      </mat-toolbar-row>

    </mat-toolbar>
  </div>

</mat-drawer-container>

<router-outlet />
