@if (user) {

<mat-card class="user-detail-header">
  <img src="./assets/img/logos/profil.jpg" />
  <div class="user-details">
    <h2>{{ user.firstName }} {{ user.lastName }}</h2>
    <p>{{ user.email }}</p>
  </div>
</mat-card>
<mat-card class="user-infos layout--margin-top-32">
  <mat-card-title>Address</mat-card-title>
  <mat-card-content>
    <p>{{ user.street }} {{ user.houseNumber }}</p>
    <p>{{ user.postalCode }} {{ user.city }}</p>
  </mat-card-content>
</mat-card>

} @else {
<p>No User found</p>
}
