@if (user) {
  <mat-card class="user-detail-header layout--padding-20">
    <button [matMenuTriggerFor]="userMenu" mat-icon-button class="edit-btn">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="editUserDetail('details')">Edit</button>
    </mat-menu>
    <app-profil-picture
      [source]="user.profilPicSrc"
      (imgFile)="saveFile(user, $event)"
    ></app-profil-picture>
    <div class="user-details">
      <h2>{{ user.firstName }} {{ user.lastName }}</h2>
      <p>{{ user.email }}</p>
    </div>
  </mat-card>

  <mat-card class="user-infos layout--margin-top-32 layout--padding-20">
    <button [matMenuTriggerFor]="adressMenu" mat-icon-button class="edit-btn">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #adressMenu="matMenu">
      <button mat-menu-item (click)="editUserDetail('address')">Edit</button>
    </mat-menu>
    <mat-card-title>Address</mat-card-title>
    <mat-card-content>
      <p>{{ user.street }} {{ user.houseNumber }}</p>
      <p>{{ user.postalCode }} {{ user.city }}</p>
    </mat-card-content>
  </mat-card>
} @else {
  <p>No User found</p>
}
