<section>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="onFilterChange(input.value)" placeholder="Ex. ium" #input />
  </mat-form-field>

  <div class="mat-elevation-z8 table-responsive">
    @if (isLoadingResults) {
      <div class="loading-shade">
        <mat-spinner></mat-spinner>
      </div>
    }

    <table mat-table [dataSource]="usersData()" matSort (matSortChange)="onSortChange($event)">
      <!-- Edit Column -->
      <!-- <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef cdkDrag cdkDragRootElement>Edit User</th>

        <td mat-cell *matCellDef="let element">
          <div>
            <a [routerLink]="'./' + element._id"
              ><button mat-icon-button>
                <mat-icon>edit</mat-icon>
              </button></a
            >
            <button mat-icon-button (click)="openDeleteDialog(element._id, element.firstName)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container> -->

      <!-- Last name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragRootElement>
          Last Name
        </th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <!-- First name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragRootElement>
          First Name
        </th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>

      <!-- First name Column -->
      <!-- <ng-container matColumnDef="adress">
        <th mat-header-cell *matHeaderCellDef cdkDrag cdkDragRootElement>Street + No</th>
        <td mat-cell *matCellDef="let element">{{ element.street }} {{ element.houseNumber }}</td>
      </ng-container> -->

      <!-- email Column -->
      <!-- <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragRootElement>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container> -->

      <!-- birthdate Column -->
      <!-- <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag cdkDragRootElement>Birthdate</th>
        <td mat-cell *matCellDef="let element">{{ element.birthDate | date: 'mediumDate' }}</td>
      </ng-container> -->

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
        cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event)"
        class="header-row"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell layout--padding-16" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      showFirstLastButtons
      [pageSizeOptions]="[5, 10]"
      [pageIndex]="pageIndex()"
      [pageSize]="pageSize()"
      [length]="totalLength"
      (page)="onPageChange($event)"
      aria-label="Select user of users"
    >
    </mat-paginator>
  </div>
  <button mat-fab class="add-user-btn" matTooltip="Add User" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</section>
