// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@use './core/styles/theme/m3-theme' as m3;
@use './core/styles/mixins/spacings';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Light Theme Variables
$scrollbar-track-bg-light: #ffffff; // Adjust to your light theme color
$scrollbar-thumb-bg-light: #c0c0c0; // Adjust to your light theme color
$scrollbar-thumb-border-light: #a0a0a0; // Adjust to your light theme color

// Dark Theme Variables
$scrollbar-track-bg-dark: #1b1015; // Adjust to your dark theme color
$scrollbar-thumb-bg-dark: #1b1015; // Adjust to your dark theme color
$scrollbar-thumb-border-dark: #ffffff; // Adjust to your dark theme color

// Define the theme object.
// $CRM-System-theme: mat.define-theme((
//   color: (
//     theme-type: light,
//     primary: m3.$azure-palette,
//     tertiary: m3.$blue-palette,
//   ),
//   density: (
//     scale: 0,
//   )
// ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

:root {
  @include mat.all-component-themes(m3.$light-theme);
  @include mat.system-level-colors(m3.$light-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($CRM-System-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($CRM-System-theme);
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.dark-theme {
  @include mat.all-component-colors(m3.$dark-theme);
  @include mat.all-component-densities(m3.$dark-theme);
  @include mat.system-level-colors(m3.$dark-theme);

  /* Dark Theme Scrollbar Styles */
  ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    background: $scrollbar-track-bg-dark;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-bg-dark;
    border: 0.5px solid $scrollbar-thumb-border-dark;
    border-radius: 10px;
  }
}

/* Light Theme Scrollbar Styles */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: $scrollbar-track-bg-light;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-bg-light;
  border: 1px solid $scrollbar-thumb-border-light;
  border-radius: 10px;
}
